*{
    box-sizing: border-box;
    margin:0;
    padding:2px;
}
header{
    padding: 20px;
    text-align: center;
    background: #2d1abc;
    color: white;
    font-size: 50px;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 5px;
}
input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }
.addBtn{
    width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color:rgb(34, 34, 238);
  background-position: 10px 10px; 
  color: white;
  border-radius: 10px;
}
.container{
    float: left;
  width: 99%;
  margin-bottom: 16px;
  padding: 0 8px;
  height: 280px
}
.leftcolumn {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
}
.rightcolumn{
    float: right;
    width: 75%;
    margin: auto;
}
.dayForecast{
position: absolute;
  width: 75%;
  bottom: 340px;
}
.weather-item{
 
}
.weather-forecast{
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 75%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}
.container{
    border: solid;
}
.city-date {
    font-size: 25px;
    font-weight: bold;
}
.icon img{
    width: 60px !important;
    height: 60px;
}